@model dynamic

@using (Html.BeginForm())
{
<div class="row">
    <h1 style="color: red" id="failedBorrow"> Failed borrow</h1>
</div>
<div class="row">
    <h2 style="color: black">Someone else was faster than you</h2>
</div>
}