
@{
    ViewBag.Title = "Index";
}

<div class="card-body" style="padding-left: 20px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;" data-toggle="collapse" href="#materialSearch">Search<div style="float: right"><input id="numOfRecords" type="number" class="form-control" value="10" /></div></div>
                <div id="materialSearch" class="card-body collapse show" style="padding-left: 20px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-info active">
                                        <input type="radio" name="jobStatus" value="0" checked> All
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="jobStatus" value="1"> Books
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="jobStatus" value="2"> Maps
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="jobStatus" value="3"> Needed Books
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="jobStatus" value="4"> Rare Books
                                    </label>
                                    <label class="btn btn-info">
                                        <input type="radio" name="jobStatus" value="5"> Reference Books
                                    </label>
                                </div>
                                <datalist id="jobs"></datalist>

                            </div>

                            <div class="form-group">
                                <input id="materialTitle" type="text" class="form-control" list="jobs" placeholder="Material Title" />
                            </div>

                            <div class="form-group">
                                <input id="isbn" type="text" class="form-control" placeholder="ISBN" />
                            </div>
                            <div class="form-group">
                                <input id="copyId" type="text" class="form-control" placeholder="Copy Id" />
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <input id="author" type="text" class="form-control" list="customers" placeholder="Author" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog" style="display: none"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="height: 130px; height: auto;">
                <div class="card-header" style="clear: both;">
                    Materials
                </div>
                <div class="card-body" style="padding-left: 20px; overflow: inherit">
                    <table id="materialTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    ISBN
                                </th>
                                <th>
                                    Material Title
                                </th>
                                <th>
                                    Author
                                </th>
                                <th>
                                    Material Type
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Available Copies
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>

                        <tbody><tr></tr></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/materials")