<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="GtlService.Controller.Service1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/ExampleService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="GtlService.Controller.iController.IService1" />
      </service>
      <service name="GtlService.Controller.LoginController">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/LoginService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="GtlService.Controller.iController.ILoginController" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="GTLEntities" connectionString="metadata=res://*/Model.GTLModel.csdl|res://*/Model.GTLModel.ssdl|res://*/Model.GTLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=GTL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>